@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before, *::after, body, html {
  scroll-behavior: smooth;
}

.navbar-blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.input-nofocus {
  outline-width: 0px !important;  
  outline-offset: 0px !important;
}

.custom-join:focus-within {
  border-color: transparent;
}

.markdown h1 {
  font-size: 16px;
  padding: 0;
}
.markdown h2 {
  font-size: 15px;
}
.markdown h3 {
  font-size: 14px;
}

.markdown a {
  text-decoration: underline;
}

.no-hover {
  background: transparent !important;
}

@media (min-width: 640px)  {
  .sm\:modal-middle .modal-box {
    max-width: fit-content;
  }
}