@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before, *::after, body, html {
  scroll-behavior: smooth;
}

.navbar-blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media (min-width: 640px)  {
  .sm\:modal-middle .modal-box {
    max-width: fit-content;
  }
}